// Place all the styles related to the patron_view controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$arborGreen:#006666;

body {
width:500px;
margin:auto;
}

h3.title {
color:$arborGreen
}


@media screen and (max-width:640px) {
	body {
		width:100%;
		font-size:0.7em;
		margin:0px
	}
	h3 {
	color:red;
	}
	h1,h2,h3 {
		font-size:0.7em;
	}
}